@import 'theme';
@import 'default';


body{
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

main{
  text-align: left;
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  background: $black3;
  border-left: $border-width solid $theme;
  border-right: $border-width solid $theme;
  padding: 20px;
  min-height: 100vh;
  font-size: 18px;
  line-height: 36px;

  section{
    margin-bottom: 40px;
    p ~ p{
      margin-top: 10px;
    }
  }
  h1{
    margin: 40px 0;
    z-index: 100;
  }
  #title-image{
    width: 100%;
    filter: blur(4px);
  }
  center{
    margin: -20px;
  }
  section:last-child{
    text-align: justify;
    background: $black2;
    padding: 16px;
    border-radius: $border-radius2;
    color: $white4;
    border: $border-width solid $black1;

  }
}
